<h1>Listing pages</h1>

<table>
  <thead>
    <tr>
      <th>Sequence</th>
      <th>Pageable</th>
      <th>Pageable type</th>
      <th>Subject</th>
      
    </tr>
  </thead>



  <tbody>
 
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.sequence_id %></td>
        <td><%= page.pageable_id %></td>
        <td><%= page.pageable_type %></td>
        <td><%= page.subject.name %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


