<% content_for(:body_id, "admin-pages") %>
<div class="row">
  <div class="columns large-12">
    <h1 class="page-title">Editing <%= @subject.name %> Title</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel small-edit-table">
    <%= render 'form' %>
    </div>
  </div>
</div>

