<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Prepify, <%= @user.name%>!</h1>
    <p>
      You've just created a new student account! If you didn't just sign up on Prepify.com, then you either have some very thoughtful enemies or a short-term memory disorder (my sincerest apologies).<br/>
    </p>
    <p>Welcome regardless and have a great day!</p>
  </body>
</html>
