<% content_for(:body_id, "lesson_pages") %> 


<div class="large-block-grid-4">

 
<li></li></div>
</div>
<div class="large-8 columns">

</div>

</div>


<div class="row">
	<div class="columns large-12">
		<li><h1><%= @instruction.body %></strong></h2><br></li>
	</div>
  <div class="columns large-12">
    <img src="<%= @instruction.image %>" width="200" height="80">
    <br>
    <div class="panel">
      <%= progress_bar( progress(@page) )%>
      <h5><%= link_to "Next Page", next_page(current_user, @page)%></h5>
    </div>
  </div>
</div>