<% content_for(:body_id, "lesson_pages") %> 


<div class="large-block-grid-4">

 <li><h1><%= @instruction.body %></strong></h2><br>
 </li>
<li><img src="<%= @instruction.image %>"></li></div>
</div>
<div class="large-8 columns">
<%= progress_bar( progress(@instruction.page) )%>
</div>
<%= link_to "Next Page", next_page(@user, @instruction.page) %>
</div>


