<% content_for(:body_id, "admin_pages") %>
<div class="row">
  <div class="columns large-12">
    <h1>New Instruction Page</h1>
  </div>
</div>

<div class="row">
  <div class="small-6 small-2 columns">
    <%= render 'form' %>
</div>


<div class="row">
  <div class="columns large-12">
  <%= link_to 'Back', admin_subject_pages_path %>
  </div>
</div>
