<% content_for(:title, "#{current_user.name}")%>
<% content_for(:body_id, "report")%> 
<link rel="stylesheet" href="foundation-icons.css" />
<link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>


<!-- <div class="row">   -->      
  <!-- <div class="report"> -->
		<!-- <div class="large-4 columns"> -->
    
			<% if progress_report(@courses).empty? %>					
    <div class="panel report">
	    	<div class="row"> 
    		 <h2 align="center">Get Started!</h2>  
    			<h3 align="center"><%= link_to "See Courses", user_subjects_path(current_user)%></h3>
    		</div>
    	</div>       
  		<% else%>
  		<div class="row">
  		<div class="arge-2 columns"></div>
                    <div class="large-10 centered columns">
  	   	<h2><%= progress_report(@courses)%></h2> 
     	<% end %>   
      	</div>    
    	</div>
  </div>
</div>

   <div class="row">
    <div class="large-12 centered columns">   
      <h5 class="left"><a href="<%= users_path(current_user)%>"><i class="fa fa-arrow-circle-left"> </i> Back</a></h5>
      <h5 class="right"><a href="<%= user_subjects_path(current_user)%>">Back to Lessons <i class="fa fa-arrow-circle-right"></i></a></h5>       
      </div>      
  </div>


