<% content_for(:body_id, "report")%> 
<link rel="stylesheet" href="foundation-icons.css" />
<body>

<div class="row">
        <div class="small-3 large-2 columns"></div>
        <div class="small-9 large-10 centered columns">
        	<div class="report panel">
          <h3><%= progress_report(@courses)%></h3>    
          </div>    
        </div>
      </div>
		</div>



<div class="row">
  <div class="columns large-12 large-centered">
		<%= link_to 'Back', users_path%>
		<%= link_to 'Back to Lessons', user_subjects_path(@user)%>
	</div>
</div>


<i class="fi-[icon]"></i>
</body>
