<h1>Listing subjects</h1>

<table>
  <thead>
    <tr>
      <th>Section</th>
      <th>Name</th>
      
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.section %></td>
        <td><%= subject.name %></td>
        <td><%= link_to "Start Lesson", start_page(subject) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%# link_to 'Back', subjects_path %>

