
<% content_for(:body_id, "subject")%> 


  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.css" rel="stylesheet">


<!-- <div class="panel"> -->

<!-- </div> -->

  <div class="row">         
    <div class="large-4 columns centered">
      
      <div class="panel subtopic">        
        <h1>Math</h1>
        <h3><i class="fa fa-superscript fa-3x"></i></h3>
         <p>They're creepy and they're kooky mysterious and spooky. They're all together ooky the Addams Family. You wanna be where you can see our troubles are all the same. You wanna be where everybody knows Your name. Straightnin' the curves.</p>
        <h5 class="math-subheader">Explore</h5>
        <div class="math-slider" visibility: hidden>
          <% @math_subjects.each do |subject| %>
            <% if subject.section == "Math" %>
          <h6 class="course-list"><%= link_to "#{subject.name}", user_subject_path(current_user, subject.id)%></h6>
            <% end %>
          <% end %> 
        </div>
      </div>
    </div>
    
    <div class="large-4 columns centered">
      
      <div class="panel subtopic">
        <h1>Reading</h1>
        <h3><i class="fa fa-book fa-3x"></i></h3>
        <p>Its mission - to explore strange new worlds to seek out new life and new civilizations to boldly go where no man has gone before. And when the odds are against him and their dangers work to do. You bet your life Speed Racer he will see it through.</p>
        <h5 class="reading-subheader">Explore</h5>
        <div class="reading-slider" visibility: hidden>
          <% @subjects.each do |subject| %>
            <% if subject.section == "Critical Reading" %>
          <h6 class="course-list"><%= link_to "#{subject.name}", user_subject_path(current_user, subject.id) %></h6>
              <% end %>
          <% end %> 
        </div>
      </div>
    </div>
              
    <div class="large-4 columns centered">
      
     
      <div class="panel subtopic">
        <h1>Writing</h1>
        <h3><i class="fa fa-pencil-square-o fa-3x"></i></h3>
        <p>Its mission - to explore strange new worlds to seek out new life and new civilizations to boldly go where no man has gone before. And when the odds are against him and their dangers work to do. You bet your life Speed Racer he will see it through.</p>
        <h5 class="writing-subheader">Explore</h5>
        <div class="writing-slider" visibility: hidden>
          <% @write_subjects.each do |subject| %>
            <% if subject.section == "Writing" %>
          <h6 class="course-list"><%= link_to "#{subject.name}", user_subject_path(current_user, subject.id) %></h6>
              <% end %>
          <% end %> 
        </div>
      </div>
    </div>           
  </div>


  <!-- End Thumbnails -->

<script type="text/javascript"> 
 $('.writing-subheader').mouseover(function(e){
    $('.writing-slider').toggle("slide");
  }); 
 
  $('.reading-subheader').mouseover(function(e){
    $('.reading-slider').toggle("slide");
  });


  $('.math-subheader').mouseover(function(e){
    $('.math-slider').toggle("slide");
  });
</script>






  



