<% content_for(:title, "Course List")%>
<% content_for(:body_id, "subject")%> 


  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.css" rel="stylesheet">


<!-- <div class="panel"> -->

<!-- </div> -->

  <div class="row">         
    <div class="large-4 columns centered">
      <div class="panel circular">
        <h1>Math</h1>
        <h3><i class="fa fa-superscript fa-3x"></i></h3>
      </div>
      <div class="panel radius subtopic">
         <p>The following concepts are covered on the SAT:
        Arithmetic word problems (including percent, ratio, and proportion)
        properties of integers (even, odd, prime numbers, divisibility, etc.), rational numbers, sets (union, and intersection.</p>
        <hr>
        <h5 class="math-subheader">Explore</h5>
        <div class="math-slider">
          <% @math_subjects.each do |subject| %>            
            <h6 class="course-list"><%= link_to "#{subject.name}:                              ", user_subject_path(current_user, subject.id)%> 

            <% if current_user.completed_subject?(subject)%> 
             <span class="complete">Completed</span>
            <% elsif current_user.started_subject?(subject)%>
            <span class="started">Started</span>
            <%else%>
           <span class="begin">Start</span></h6>                 
            <%end%>     
          <% end %> 
        </div>
      </div>
    </div>
    
    <div class="large-4 columns centered">
      <div class="panel circular">
      <h1>Reading</h1>
      <h3 class="icon"><i class="fa fa-book fa-3x"></i></h3>
      </div>
      <div class="panel radius subtopic">        
        <p>All critical reading questions on the SAT® are multiple-choice questions. Here is a breakdown of the question types, passage-based reading, sentence completions, vocabulary, literal comprehensive and passage-based reasoning.</p>
        <hr>
        <h5 class="reading-subheader">Explore</h5>
        <div class="reading-slider">
          <% @read_subjects.each do |subject| %>
            
          
          <h6 class="course-list"><%= link_to "#{subject.name}:                           ", user_subject_path(current_user, subject.id)%> 
            <% if current_user.completed_subject?(subject)%> 
             <span class="complete">Completed</span>
            <% elsif current_user.started_subject?(subject)%>
            <span class="started">Started</span>
            <%else%>
           <span class="begin">Start</span></h6>                 
            <%end%>       
             
          <% end %> 
        </div>
      </div>
    </div>
              
    <div class="large-4 columns centered">
      <div class="panel circular">
        <h1>Writing</h1>
        <h3><i class="fa fa-pencil-square-o fa-3x"></i></h3>
      </div>
      <div class="panel radius subtopic">        
      
        <p>Writing questions on the SAT® have two formats: a direct measure in the form of an essay and multiple-choice questions. Here is a breakdown of the questions, essay, multiple-choice, improve your sentence structure.</p>
          <hr>
        <h5 class="writing-subheader">Explore</h5>
        <div class="writing-slider">
          <% @write_subjects.each do |subject| %>
            
          
          <h6 class="course-list"><%= link_to "#{subject.name}:                              ", user_subject_path(current_user, subject.id)%> 

            <% if current_user.completed_subject?(subject)%> 
             <span class="complete">Completed</span>
            <% elsif current_user.started_subject?(subject)%>
            <span class="started">Started</span>
            <%else%>
           <span class="begin">Start</span></h6>                 
            <%end%>     
              
          <% end %> 
        </div>
      </div>
    </div>           
  </div>


  <!-- End Thumbnails -->

// <script type="text/javascript"> 
//  $('.writing-subheader').mouseover(function(e){
//   e.preventDefault();
//     $('.writing-slider').toggle("slide");
//   }); 
 
//   $('.reading-subheader').mouseover(function(e){
//     e.preventDefault();
//     $('.reading-slider').toggle("slide");
//   });


//   $('.math-subheader').mouseover(function(e){
//     e.preventDefault();
//     $('.math-slider').toggle("slide");
//   });
// </script>






  



