<div class="row">
  <div class="columns large-12 large-centered">
    <h1>All Lessons</h1>
  </div>
</div>  

<body>
  <% @subjects.each do |subject| %>
  <div class="row">
    <div class="columns large-12 large-centered">
      <div class="radius panel">
        <h3><%= subject.name %></h3>
        <h3><%= link_to "Start Lesson", start_page(@user, subject) %><h3>
      </div>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="columns large-12-centered">
      <%= link_to 'Home', user_path(@user) %>
    </div>
  </div>
</body>



