<% content_for(:title, "Course List")%>
<% content_for(:body_id, "subject")%> 


  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.css" rel="stylesheet">


<!-- <div class="panel"> -->

<!-- </div> -->

  <div class="row">         
    <div class="large-4 columns centered">
      
      <div class="panel subtopic">        
        <h1>Math</h1>
        <h3><i class="fa fa-superscript fa-3x"></i></h3>
         <p>The following concepts are covered on the SAT:
Arithmetic word problems (including percent, ratio, and proportion)
properties of integers (even, odd, prime numbers, divisibility, etc.), rational numbers, sets (union, and intersection.</p>
        <h5 class="math-subheader">Explore</h5>
        <div class="math-slider" visibility: hidden>
          <% @math_subjects.each do |subject| %>
            <% if subject.section == "Math" %>
          <h6 class="course-list"><%= link_to "#{subject.name}", user_subject_path(current_user, subject.id)%></h6>
            <% end %>
          <% end %> 
        </div>
      </div>
    </div>
    
    <div class="large-4 columns centered">
      
      <div class="panel subtopic">
        <h1>Reading</h1>
        <h3><i class="fa fa-book fa-3x"></i></h3>
        <p>All critical reading questions on the SAT® are multiple-choice questions. Here is a breakdown of the question types, passage-based reading, sentence completions, vocabulary, and reasoning.</p>
        <h5 class="reading-subheader">Explore</h5>
        <div class="reading-slider" style="display: none;">
          <% @read_subjects.each do |subject| %>
            <% if subject.section == "Critical Reading" %>
          <h6 class="course-list"><%= link_to "#{subject.name}", user_subject_path(current_user, subject.id) %></h6>
              <% end %>
          <% end %> 
        </div>
      </div>
    </div>
              
    <div class="large-4 columns centered">
      
     
      <div class="panel subtopic">
        <h1>Writing</h1>
        <h3><i class="fa fa-pencil-square-o fa-3x"></i></h3>
        <p>Writing questions on the SAT® have two formats: a direct measure in the form of an essay and multiple-choice questions. Here is a breakdown of the questions, essay, multiple-choice, improve your sentence structure.</p>
        <h5 class="writing-subheader">Explore</h5>
        <div class="writing-slider" style="display: none;">
          <% @write_subjects.each do |subject| %>
            <% if subject.section == "Writing" %>
          <h6 class="course-list"><%= link_to "#{subject.name}", user_subject_path(current_user, subject.id) %></h6>
              <% end %>
          <% end %> 
        </div>
      </div>
    </div>           
  </div>


  <!-- End Thumbnails -->

<script type="text/javascript"> 
 $('.writing-subheader').mouseover(function(e){
  e.preventDefault();
    $('.writing-slider').toggle("slide");
  }); 
 
  $('.reading-subheader').mouseover(function(e){
    e.preventDefault();
    $('.reading-slider').toggle("slide");
  });


  $('.math-subheader').mouseover(function(e){
    e.preventDefault();
    $('.math-slider').toggle("slide");
  });
</script>






  



