<h1>Listing subjects</h1>

<table>
  <thead>
    <tr>
      <th>Section</th>
      <th>Name</th>
      
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.section %></td>
        <td><%= subject.name %></td>
         <% which_page(subject) %>
        <td><%= link_to 'Start Lesson', @path       
            %>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


