
<% content_for(:body_id, "subject")%> 


  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.css" rel="stylesheet">


<!-- <div class="panel"> -->

<!-- </div> -->

  <div class="row">         
    <div class="large-4 columns centered">
      
      <div class="panel subtopic">        
        <h1>Math</h1>
        <h3><i class="fa fa-pencil-square-o fa-5x"></i></h3>
        <h5 class="math-subheader">See Courses</h5>
        <div class="math-slider" visibility: hidden>
          <% @math_subjects.each do |subject| %>
          <h6 id="course-list"><%= link_to "#{subject.name}", user_subject_path(current_user, subject.id)%></h6>
          <% end %> 
        </div>
      </div>
    </div>
    
    <div class="large-4 columns centered">
      
      <div class="panel subtopic">
        <h3>Reading</h3>

        <h5 class="reading-subheader">See Courses</h5>
        <div class="reading-slider" visibility: hidden>
          <% @read_subjects.each do |subject| %>
          <p><%= link_to "#{subject.name}", user_subject_path(current_user, subject.id) %></p>
          <% end %> 
        </div>
      </div>
    </div>
              
    <div class="large-4 columns centered">
      
     
      <div class="panel subtopic">
        <h3>Writing</h3>
        <h5 class="writing-subheader">See Courses</h5>
        <div class="writing-slider" visibility: hidden>
          <% @write_subjects.each do |subject| %>
          <p><%= link_to "#{subject.name}", user_subject_path(current_user, subject.id) %></p>
          <% end %> 
        </div>
      </div>
    </div>           
  </div>


  <!-- End Thumbnails -->

<script type="text/javascript"> 
 $('.writing-subheader').mouseover(function(e){
    $('.writing-slider').toggle("slide");
  }); 
 
  $('.reading-subheader').mouseover(function(e){
    $('.reading-slider').toggle("slide");
  });


  $('.math-subheader').mouseover(function(e){
    $('.math-slider').toggle("slide");
  });
</script>






  



