$footer-height: 9em; // Set to however many lines of text you want to have in your footer. Sorry, no dynamic option here.

html, body { 
	height: 100%; 
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto ($footer-height * -1);
}

#wrap > *:last-child {
    padding-bottom: $footer-height;
}


#footer {
    height: $footer-height;
    background-color: #233159;
    color: white;
    padding-top: 10px; 
    font-family: "Source Sans Pro";
    line-height: 1.35em;

}