#blog {
background-color: white;
	
	.row {
		background-color: white;
		padding: 20px;
		max-width: 70%;
		font-family: "Source Sans Pro";
		color: darken(gray, 20%);
		font-size: 1.15em;
	}


	h1, h2 {
		font-family: "Sansita One";
		color: #2BA6CB;
	}

	h6 {
		font-family: "Source Sans Pro";
		color: darken(gray, 20%);

	}













}
