#registrations_new {

background-color: lighten(#338aaa, 50%);

background-image: url("school_logo.jpg");
background-repeat: no-repeat;
background-size: auto 100%;


	#top {
		
		
		h2 {
			color: white;
		}


		label {
		color: white;
		font-size: 1.5em;
		}
	}

	.bottom {
		text-align: center;
	}









}