#report {
$prepifycolor: #338aaa;
$darkcolor: darken($prepifycolor, 40%);
$lightcolor: lighten($prepifycolor, 20%);

background-color: $prepifycolor;
background-image: url("retina_wood.png");
background-repeat: no-repeat;
background-size: 100% auto;

h3 .complete .panel {
	background-color: red;
	opacity: 0.4;
	}

}