#subject {
$prepifycolor: #338aaa;
$darkcolor: darken($prepifycolor, 40%);
$lightcolor: lighten($prepifycolor, 20%);


background-image: url("retina_wood.png");
background-repeat: no-repeat;
background-size: 100% auto;
	
	p {
		color: gray;
		font-size: .8em;
	}

	.circular {
		height: 250px;
		width: 250px;
		border-radius: 175px;
		padding-top: 50px;
		padding-left: 20px; 
		text-align: center;
		margin-left: 40px;
		margin-bottom: 5px;
		margin-top: 20px;

	}
	.icon {
		padding-left: 20px;
	}

	.ul-dash {
	  margin: 0;
	  font-color: #fff;
	}

	.ul-dash {
	  margin-left: 0em;
	  padding-left: 1.5em;
	}

	.ul-dash.hanging > li { /* remove '>' for IE6 support */
	  padding-left: 1em;
	  text-indent: -1em;
	}  
	
	label {
		font-size: 1.20em;
	}

	.course-list{
		text-align: center;
		
	}
	
	.started {
		color: #EDA228;
	}
	
	
	.subtopic {
		text-align: center;
		p {
			// background-color: #fff;
		}
	}	

	.subtext {
		color: #656665;
		font-size: 12px;
	}
	
	h1, h2, .bottom-nav {
		font-family: 'Sansita One';
		color: #2BA6CB;
	}

	h3 {
		color: #38cbf4;
	}
	
	.bottom .nav{
		text-align: center;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		background:rgba(51, 138, 170,0.4);
		background-color: #4A4D4A;
		background-size: 100% auto;
		max-width: 100%;
		height: auto;
	}

	.radius {
		border-radius: 10px;
	}
	
	.math-slider, .reading-slider, .writing-slider {
		text-align: left;
	}
	

	.dash {
		background-image: url("retina_wood.png");
		background-repeat: no-repeat;
		background-size: 100% auto;

	}	

	.complete {
		color: #5da423;
	}

	.img-wrap{
		min-height: 100%;
		min-width: 100%;
	}
		
	.bottom {
		margin-left: 10%;
	}	

	  .logo {
    margin-left: 10px;
    margin-top:10px;
   }

   .student-nav {
    font-size: .75em;
   }

   // .lesson-button {
   // 	height: 100px;
   // 	width: 100px;
   // 	border-radius: 200px;
   // 	color: white;
   // 	text-align: center;
   // }
}