<% content_for(:body_id, "admin_pages") %> 
<h1 class="page-title">Users</h1>
<div class="row">
  <div class= "large-12 columns">
    <div class= "large-6 columns">
      <div class= "panel">
        <h3>Admin</h3>
        <table width="100%">
          <thead>
          </thead>
          <tbody>
            <tr>
              <% @users.each do |user| %>
              <% if user.admin == true %>
                <%= render "show", user: user %>
                <% end %>
               <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <div class= "large-6 columns">
      <div class= "panel user-table">
        <h3>Students</h3>
        <table width="100%">
          <thead>
          </thead>
          <tbody> 
            <tr>   
              <% @users.each do |user| %>
                <% if user.admin == false %>
                  <%= render "show", user: user %>
                  <% end %>
                <% end %>     
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



